html{
  max-width: 100vw;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.machine{
  border: 10px solid black;
  border-radius: .50rem;
  background-color: white;
  max-height: 780px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 0;
}

.item-row{
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;

}

.purchase-box{
  background-color: black;
  min-height: 100px;
  min-width: 200px;
  color: red;
}

.options{
  background-color: cadetblue;
  min-height: 100px;
  padding: 1px;
  max-width: 24%;
  border: 1px solid black;
  border-radius: .25rem;
  outline: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.row-title{
  color: rgb(19, 82, 61);
  padding: 0;
  margin: 0;
}

.item-img{
background-color: gray;
min-height: 75px;
max-height: 75px;
height: 75px;
width: 75px;
}

.option-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}